<!DOCTYPE html>
<html lang="en">

<head>
    <title>What to Wear?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <!--Custom CSS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!--ROBOTO Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!--ICONS-->
    <link rel="stylesheet" href="/styles/weather-icons.css">

</head>

<body class = "bg">

    <!--SUBMIT AND CURRENT WEATHER-->
    <div class="row"> 
        <div class=" col s12 m12 centers">
            <h1 class="center">What to Wear?</h1>
        </div>  
        <div class="col s12 m6" >
             
            <div class="card red lighten-2">
                <div class="card-content white-text">
                    <h5>Enter City Name:<h5>
                    <input type="text" name="city" id="city" />
                    <div class="btn waves-effect waves-light red darken-4" id="submit" onclick="getWeather()" style="margin-bottom: 50px;">Submit</div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card red lighten-2">
                <div class="card-content white-text">
                    <h5>Current Weather Conditions:</h5>
                    <p id = "weatherDesc"></p>
                    <p id = "currTemp"></p>
                    <p id = "highTemp"></p>
                    <p id = "lowTemp"></p>
                    <i id = "weatherIcon" style="font-size: 50px;margin-top: 20px" ></i>
                </div>
            </div>
        </div>
    </div>

    <!--CLOTHING-->
    <div class="row">
        <div class="col m3 s3">
            <div class="card red lighten-1">
                <div class="card-content white-text">
                    <h6>Head:</h6>
                    <div id = "head"></div>
                </div>
            </div> 
        </div>
        <div class="col m3 s3">
            <div class="card red lighten-1">
                <div class="card-content white-text">
                    <h6>Upper Body:</h6>
                    <div id = "uBody"></div>
                </div>
            </div> 
        </div>
        <div class="col m3 s3">
            <div class="card red lighten-1">
                <div class="card-content white-text">
                    <h6>Lower Body:</h6>
                    <div id = "lBody"></div>
                </div>
            </div> 
        </div>
        <div class="col m3 s3">
            <div class="card red lighten-1">
                <div class="card-content white-text">
                    <h6>Feet:</h6>
                    <div id = "feet"></div>
                </div>
            </div> 
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>