/* Your styles go in this file */

html {
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    background-color: black;
}

h1{
    font-family: 'Gochi Hand', cursive;
}

.bg { 
    /* The image used */
    background-image: url("BG_SUN.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#recipes {
    text-align: justify;
}

.recipe {
    width: 30%;
    display: inline-block;
    border: 1px solid grey;
    margin: 15px;
}

.recipe img {
    width: 100%;
    height: 300px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
}

.wrapper {
    text-align: center;
}

button {
    height: 35px;
    color: white;
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
}

input {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
}