/* Your styles go in this file */

html {
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    background-color: black;
}

h1{
    font-family: 'Gochi Hand', cursive;
}

.bg { 
    position: fixed; 
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

